* {
    text-decoration: none;
    margin: 0px;
    padding: opx;
}

body{
    margin: opx;
    padding: opx;
    font-family: 'open sans',sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}


.logo a{
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: cuorier;
    color: #019267;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #FFFFFF;
    z-index: 1;
    border-bottom: 1px solid #357C3C;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}




nav ul li {
    float: left;

}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;

}

nav ul li a:hover {
    text-decoration: underline;
}



.kolom {
    margin-top: 50px;
    margin-bottom: 50px;

}

.deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #019267;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 20px;
    color: #019267;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #85C88A;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #357C3C;
    text-decoration-color: none;
}

a.tbl-pink {
    background: #85C88A;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

a.tbl-pink:hover {
    background: #357C3C;
    text-decoration-color: none;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;

}

.tengah {
    text-align: center;
    width: 100%;
    
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }

    .logo a {
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu {
        will-change: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;

    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;

    }

    section img {
        display: block;
    }
}